<section class="section dashboard">
   <!-- Vertically centered Modal -->
  
  <div class="modal fade" id="addCategorie" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter Catégorie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="CategorieForm" > 
           <div class="form-group">
             <label>Nom</label>
              <input type="text" formControlName="nom" placeholder="Nom" class="form-control" />
             
           </div>
        </form>        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Ajouter</button>
        </div>
      </div>
    </div>
  </div><!-- End Vertically centered Modal-->
<br> <br>
<div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6"  *ngFor="let cat of Categories ; let i =index">
          <div class="card info-card sales-card">

            <div class="filter">
              <a class="icon"  [routerLink]="['/acceuil','categorie','list_medecins',cat.id]" ><i class="fas fa-eye"></i></a>
              
              <a class="icon"  [routerLink]="['/acceuil','categorie','list_medecins',cat.id]" ><i class="fas fa-edit"></i></a>
            </div>

            <div class="card-body" >
              <h5 class="card-title"></h5>

              <div class="d-flex align-items-center">
                <div class="ps-3">
                  <h6>{{cat.nom}}</h6>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->
        </div>
    </div>
</div>
</section>